[run]
source = src
branch = True

omit =
    src/htmlcov/*
    htmlcov/*
    */__pycache__/*
    # Testit ja testidatat
    src/tests/*
    src/test_*.py

    # App startup / infra
    src/index.py
    src/app.py
    src/config.py
    src/db_helper.py
    src/app_library.py

[report]
exclude_lines =
    if __name__ == .__main__.:
    raise NotImplementedError

precision = 2
show_missing = True
