{% extends "layout.html" %}

{% block title %}
Reference app
{% endblock %}

{% block body %}

<h2>Reference app</h2>
<h3>Book references:</h3>
{% if references|length == 0 %}
  <p>No references found!</p>
{% else %}
  <ul>
    {% for reference in references %}
        {% if reference.reftype == 'book' %}
          <li style="display: flex">
            <div>
              [{{ reference.id }}] {{ reference.author }}. <i>{{ reference.title }}</i>.{{ reference.year }}.
            </div>
          </li>
        {% endif %}
    {% endfor %}
  </ul>
{% endif %}

<div>
  <a href="/new_reference">Create new reference</a>
</div>

{% endblock %}