:root {
  --bs-primary: #a28c2a;
}

.btn-primary {
  background-color: #244737;
  border-color: #244737;
}

.btn-primary:hover {
  background-color: #1a3428;
  border-color: #1a3428;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #122519;
  border-color: #122519;
  box-shadow: 0 0 0 0.25rem rgba(36, 71, 55, 0.5);
}

a {
  color: #a28c2a;
}

a:hover {
  color: #6f5c0f;
}

.create-bg {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #A39A92;
}

/* --- Idea for animated background --- */
/* .create-bg {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  /* Tile the GIF instead of stretching */
  /* background-image: url("bg_stars.png");
  background-repeat: repeat;
  background-size: 400px 400px; /* Size of each tile */
  
  /* Start position */
  /* background-position: 0 0;

  /* Animate the background */
  /* animation: moveBackground 30s linear infinite;
}  */


/* @keyframes moveBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 400px 400px; /* matches background-size for smooth loop */
  /* }
} */